.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 15px;
  margin-left: auto;
  padding: 10px 30px;
  border-radius: 10px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}
.close.close--accept {
  background-color: transparent;
}
.close:hover,
.close:focus {
  /* border: 1px solid rgb(255, 255, 255); */
  color: black;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  /* box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.924), 0 0 8px 0 rgba(255, 255, 255, 0.924); */
}
.popup-header {
  color: white;
  display: flex;
  padding: 2px 16px;
}
.popup-body {
  padding: 20px 16px;
  font-size: 20px;
  border-radius: 30px;
  color: #fff;
  background-color: transparent;
}
.popup-body a {
    color: rgb(134, 215, 246);
    transition: all 0.3s;

}
.popup-body a:hover {
    color: rgb(136, 134, 246);
}
.popup-footer {
  padding: 10px 16px 20px;
  color: white;
  border-radius: 30px;
  background-color: transparent;
 
}
.popup-content {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px 0;
  border: none;
  border-radius: 30px;
  max-width: 465px;
  /* margin: 30px; */
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: animatetop 0.4s linear;
}
.popup-content {
  background: -webkit-linear-gradient(325deg, #384262, #131b33);
  background: -o-linear-gradient(325deg, #384262, #131b33);
  background: linear-gradient(125deg, #384262, #131b33);
}
@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
    .popup-content {
        width: 90%;
      } 
}