.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .select-box .options-container {
    background: #fafbfb;
    color: #12192c;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #fafbfb;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #12192c;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    background: url("../images/icons/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 8px;
    
    transition: all 0.4s;
    
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg) translateY(30%);
    /* top: -6px; */
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #dadada;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    /* padding: 12px 45px 12px 24px; */
    cursor: pointer;
  }
  .selected {
    padding: 12px 45px 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #91b9eb;
  }
  
  .select-box label {
    cursor: pointer;
    width: 100%;
    display: block;
    height: 100%;
    padding: 12px 45px 12px 24px;
  }
  
  .select-box .option .radio {
    z-index: -3;
    opacity: 0;
    position: absolute;
  }

  /* @media (max-width: 416px) {
    .selected::after {
        display: none;

    }
} */